---
layout: page
title: "News and updates"
---
<section class="menu-principal-projects">


    <section class="space-two-projects">
        <article class="main-section">
            <h3>News</h3>
        </article>
        <article class="main-section-2-projects">
            <p> Welcome, here you will find all the updated information about the Decentralized Climate Foundation.
                </br>
                </br>
                Connect the official Medium account:</br> <a href="https://decaeco.medium.com"
                    target="blank">https://decaeco.medium.com</a>

                </br>
                Connect the official Twitter account:</br> <a href="https://twitter.com/decaeco">@decaeco</a>

            </p>
        </article>

    </section>

</section>

{{ content }}